<div class="container py-3">
  <div class="card m-3">
    <div class="card-body">
      <h4 class="card-title">Your Payment</h4>
      <div class="text-center">
        <img
          src="/assets/images/empty.png"
          class="img-fluid w-25 border rounded border-4 border-success p-3 m-1"
          alt="Empty Cart"
        />
        <h4 class="text-success">Your payment was successful!</h4>
        <button class="btn btn-outline-warning" [routerLink]="['/']">
          <mat-icon>home</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
