<div class="container row mt-3 mx-auto">
  <div *ngIf="addressSubmitted; else noaddress">
    <app-cart-summary
      [items]="items | async"
      (editAddressEvent)="editAddress()"
      [address]="address"
      (paymentEvent)="checkout($event)"
    ></app-cart-summary>
  </div>
  <ng-template #noaddress>
    <div class="col-xl-7 col-lg-6 col-12">
      <app-address
        (addressSubmitEvent)="addressSubmit($event)"
        [address]="address"
      ></app-address>
    </div>
    <div class="col-xl-5 col-lg-6 col-12 mt-3 mt-md-0">
      <app-cart-summary [items]="items | async"></app-cart-summary>
    </div>
  </ng-template>
</div>
