.card{
  min-height: 100%;
}

.book-title:hover{
  cursor: pointer;
  text-decoration: underline;
}
.card-img-top{
  width: auto;
  max-height: 30vh;
  min-height: 30vh;
  object-fit: contain;
}

.card-footer{
  border: none;
}

// .info-link{
//   cursor: pointer;
// }

@media (max-width:992px) {
  .card-img-top{
    max-height: 40vh;
    min-height: 40vh;
  }
}

@media (max-width:768px) {
  .card-img-top{
    max-height: 50vh;
    min-height: 50vh;
  }
}

@media (max-width:576px) {
  .card-img-top{
    max-height: 60vh;
    min-height: 60vh;
  }
}


