<div class="container card m-auto my-3">
  <div class="card-body">
    <!-- <div>
      <mat-spinner *ngIf="showSpinner" class="m-auto"></mat-spinner>
    </div> -->

    <ng-container *ngIf="(items | async)?.length == 0">
      <h4 class="card-title">Your Cart</h4>
      <div class="text-center">
        <img
          src="/assets/images/empty.png"
          class="img-fluid w-25 border rounded border-4 border-warning p-3 m-1"
          alt="Empty Cart"
        />
        <h4 class="text-warning">Your cart is empty!</h4>
        <button class="btn btn-outline-success" [routerLink]="['/shop']">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="(items | async)?.length != 0">
      <div class="row mb-1">
        <div class="col-12 col-sm-6 col-md-4">
          <h4 class="card-title">Your Cart</h4>
        </div>
        <div class="col-sm-12 col-md-8">
          <div class="row mx-auto">
            <div class="col-12 col-sm-3 text-end my-1">
              <button
                class="btn btn-sm btn-outline-danger w-100"
                (click)="clearCart()"
              >
                <mat-icon>remove_shopping_cart</mat-icon>
              </button>
            </div>

            <div class="col-12 col-sm-3 text-end my-1">
              <button
                class="btn btn-sm btn-outline-success w-100"
                routerLink="/"
              >
                <mat-icon>add_shopping_cart</mat-icon>
              </button>
            </div>

            <div class="col-12 col-sm-6 text-end my-1">
              <!-- <button
                class="btn btn-sm btn-outline-warning w-100"
                *ngIf="items | async as items"
                (click)="checkoutst(items)"
              >
                <mat-icon>shopping_cart_checkout</mat-icon>
                <span class="text-nowrap"
                  >St(Total: {{ getTotal(items) | currency: "INR" }})</span
                >
              </button> -->
              <button
                class="btn btn-sm btn-outline-warning w-100"
                *ngIf="items | async as items"
                (click)="checkoutrp(items)"
              >
                <mat-icon>shopping_cart_checkout</mat-icon>
                <span class="text-nowrap"
                  >(Total: {{ getTotal() | currency : "INR" }} ++)</span
                >
              </button>
            </div>
          </div>
        </div>
      </div>
      <div
        class="card text-center mb-3"
        *ngFor="let item of items | async; let i = index"
      >
        <div class="card-body">
          <div class="row mx-auto align-items-center">
            <div class="col-12 col-sm-2 col-md-1 col-lg-1">
              <span>{{ i + 1 }}.</span>
            </div>
            <div class="col-4 col-sm-3 col-md-2 col-lg-1 mt-1">
              <img
                src="assets/{{ item.book.imageLink }}"
                class="img-fluid"
                alt="{{ item.book.title }}"
              />
            </div>
            <div class="col-8 col-sm-7 col-md-2 col-lg-3 mt-1">
              <h5 class="card-title" [routerLink]="['/shop', item.book.key]">
                {{ item.book.title }}
              </h5>
            </div>
            <div class="col-12 col-sm-4 col-md-2 col-lg-2 text-nowrap mt-1">
              <button
                class="btn btn-sm btn-outline-none"
                (click)="removeItemFromCart(item.book)"
              >
                <mat-icon>remove_circle_outline</mat-icon>
              </button>
              <span class="mx-2">{{ item.quantity }}</span>
              <button
                class="btn btn-sm btn-outline-none"
                (click)="addItemToCart(item.book)"
              >
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-3 mt-1">
              <span
                >{{ item.quantity }} &times; {{ item.book.price }} =
                {{ item.quantity * item.book.price | currency : "INR" }}</span
              >
            </div>
            <div class="col-6 col-sm-4 col-md-2 col-lg-2 mt-1">
              <button
                class="btn btn-sm btn-outline-danger"
                (click)="removeAllItemFromCart(item.book)"
              >
                <mat-icon>remove_shopping_cart</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
